<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUnoSCo3mU-NjePvixkim6DHNlV3qul7c</string>
	<key>GCM_SENDER_ID</key>
	<string>859623356146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aisHackathonBetter</string>
	<key>PROJECT_ID</key>
	<string>byu-ais-hackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>byu-ais-hackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859623356146:ios:360fd0addcedd5f868c26b</string>
	<key>DATABASE_URL</key>
	<string>https://byu-ais-hackathon-default-rtdb.firebaseio.com</string>
</dict>
</plist>